body#tic-tac-toe{
    width: 100%;
    display: flex;
    main{
        width: calc(100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2{
            margin: 12px 0 0 0;
        }
        .score{
            margin: 12px 0 0 0;
        }
        .field{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4px;
            margin-top: 24px;
            background-color: #fff;
            &__square{
                width: 120px;
                height: 120px;
                box-sizing: border-box;
                background-color: #001F3F;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .cross{
                    width: inherit;
                    height: inherit;
                    position: relative;
                    top: 42px;
                    div{
                        width: 120px;
                        height: 8px;
                        border-radius: 10px;
                        background-color: #fff;
                    }
                    .l{
                        position: relative;
                        top: 8px;
                        transform: rotate(45deg);
                    }
                    .r{
                        transform: rotate(135deg);
                    }
                }
                .circle{
                    background-color:#001F3F;
                    border: 8px solid #fff;    
                    height: 80px;
                    width: 80px;
                    border-radius:50%;
                    -moz-border-radius:50%;
                    -webkit-border-radius:50%;
                }
            }
        }
    }
}