body#tic-tac-toe{
    main{
        .score, .msg-container{
            margin: 12px 0 0 0;
        }
        .field{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4px;
            margin-top: 24px;
            background-color: #fff;
            &__square{
                width: 120px;
                height: 120px;
                box-sizing: border-box;
                background-color: #001F3F;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .cross{
                    width: inherit;
                    height: inherit;
                    position: relative;
                    div{
                        width: 120px;
                        height: 8px;
                        border-radius: 10px;
                        background-color: #fff;
                    }
                    .l{
                        position: relative;
                        top: 50px;
                        transform: rotate(45deg);
                    }
                    .r{
                        position: relative;
                        top: 42px;
                        transform: rotate(135deg);
                    }
                }
                .circle{
                    background-color:#001F3F;
                    border: 8px solid #fff;    
                    height: 80px;
                    width: 80px;
                    border-radius:50%;
                    -moz-border-radius:50%;
                    -webkit-border-radius:50%;
                }
            }
            &__square.unclickable{
                pointer-events: none;
            }
        }
        #new-btn {
            padding: 1rem;
            font-size: 1.25rem;
            background: #191913;
            color: white;
            border-radius: 1rem;
            border: none;
        }
        #msg {
            font-size: 8vmin;
        }
        .msg-container {
            height: auto;
        }
        .hide {
            display: none;
        }
    }
}