body#_2048{
    main{
        .grid{
            margin-top: 12px;
            width: 334px;
            height: 334px;
            border-radius: 8px;
            background-color: #A37474;
            display: grid;
            grid-template-columns: repeat(4, 82px);
            grid-template-rows: repeat(4, 82px);
            .grid-item{
                width: 72px;
                height: 72px;
                border-radius: 8px;
                // color: #efaaaa;
                margin: 6px 0 0 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 32px;
                font-weight: 700;
            }
        }
    }
}